* {
  margin: 0;
  padding: 0,;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.App {
    height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,94,101,1) 65%); 
}

/* Title */

.title {
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,94,101,1) 65%); 
  width: 100%;
  padding: 1rem;
}

.title-h1{
  font-size: clamp(2rem, 5vw, 15rem);
  color: white;
  text-align: center;
}

/* Game */

.game {
  width: 100%;
  height: 100%;
}

/* Container */

.grid_container {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,94,101,1) 65%); 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.grid {
  /* background-color: pink; */
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(2, 1fr);
gap: clamp(0.4rem, 0.6rem, 1rem);
justify-items: center;
align-items: center;
 width: contain;
height: contain;
}

/* Square */

.square_unit {
  background-color: white;
  height: clamp(5.5rem, 15vw, 10rem);
  width: clamp(5.5rem, 15vw, 10rem);
  border-radius:clamp(.2rem, .5rem, 1.2rem);
  -webkit-border-radius:clamp(.2rem, .5rem, 1.2rem);
  -moz-border-radius:clamp(.2rem, .5rem, 1.2rem);
  -ms-border-radius:clamp(.2rem, .5rem, 1.2rem);
  -o-border-radius:clamp(.2rem, .5rem, 1.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 6rem;
}

.square_unit:hover {
  background-color: rgb(202, 202, 202);
}

.square_unit > div {
    margin: 0 auto;
}
/* circle */

.circle {
  /* font-size: 5rem; */
width: contain;
height: auto;
}

.x_cross {
  stroke: red;
}

.x_circle {
 stroke: green; 
}

svg {
  stroke-width: 20px; 
  fill: none;
  stroke-linecap: round;
}

.game-title {
  font-size: 1.5rem;
  padding: 1rem;
   color: white;

}

.game-tag {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
}


